* {
  margin: 0px;
  padding: 0px;
  padding-top: 0px;
}

body {
  background-color: #444;
  color: #f2f2f2;
  margin: 0px;
  margin-top: 0px;
}

nav {
  margin: auto;
  text-align: center;
  width: 100%;
  font-family: arial;
}

nav ul {
  background: #222;
  list-style: none;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  padding: 15px;
  color: #f2f2f2;
  text-decoration: none;
}